* {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid gold; */
}

.btn:hover {
    background-color: transparent;
    color: #000;
}

ul {
    list-style: none;
}

.resumeLinks a:hover {
    color: #fff;
    text-decoration: none;
    font-weight: 900;
}

.create i {
    font-size: 3em;
}

.switch {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center !important;
}

.active {
    font-weight: bolder;
}

.socials a {
    color: #8B8CB3;
}

.socials a:hover {
    color: #fff;
}
.socialsLinks a {
    color: #8B8CB3;
}

.socialsLinks a:hover {
    color: #000;
}

.mouseIcon:hover {
    font-weight: bold;
}

section {
    height: 100vh;
}

@media (min-width:320px) and (max-width: 612px) {
    .content {
        margin-top: -5em;
    }
}