* {
    font-family: 'Roboto', sans-serif;
    cursor: none !important;
    scroll-behavior: smooth !important;
    /* border: 1px solid gold; */
}
.brands{
    border-radius: 1em !important;
    background-color: white;
}
.fw-bold{
    font-weight: 900 !important;
    font-family: 'Roboto', sans-serif !important;

}
p, nav{
    font-family: 'Libre Franklin', sans-serif !important;
}
.hero{
    position: relative;
    z-index: 2;
}
/* .collapse{
    justify-content: end;
} */
.btn{
    padding: 0.7em;
    color: white !important;
    background-image:  linear-gradient(135deg,#8254e5,#83afe3 150%);;
    border: none;
}
.btn2{
    background-image: linear-gradient(135deg,#72e9f3 -20%,#404de6 120%);
}
.btn:hover{
    font-weight: bold !important;
    color: white !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}
.quoteLink:hover{
    color: white !important;
}
/* .nav2{
    background-color: white;
    z-index: -1;
} */
/* .hero{
    z-index: 20;
} */
.top{
    z-index: 1;
}
#toTop:hover{
    transform: translateZ(20);
    transform: scale(5%) !important;
    transition: 0.5s all ease-in-out !important;
}

.cursor {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    /* border: 2px solid lightgray; */
    /* background-color: rgba(255, 255, 255, 0.356); */
    height: 30px;
    width: 30px;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.cursor::after,
.cursor::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    height: 10px;
    width: 10px;
    border-radius: 50px;
}

.cursor::before {
    background-color: rgb(74, 77, 79);
}

.cursor.click::before {
    animation: click 1s ease forwards;
    background-color: rgba(125, 124, 124, 0.514);
}

@keyframes click {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(7);
    }
}

body {
    background-color: #fff;
}
::placeholder{
    color: lightgray !important;
}

textarea {
    outline: none;
}

.btn:hover {
    background-color: transparent;
    color: #000;
}

ul {
    list-style: none;
}

.resumeLinks a:hover {
    color: #fff;
    text-decoration: none;
    font-weight: 900;
}

.create i {
    font-size: 3em;
}

.switch {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center !important;
}

.active {
    font-weight: bolder;
}

.socials a {
    color: #8B8CB3;
}

.socials a:hover {
    color: #fff;
}

.socialsLinks a {
    color: #8B8CB3;
}

.socialsLinks a:hover {
    color: #000;
}

.mouseIcon:hover {
    font-weight: bold;
}

section {
    height: 100vh;
}

@media (min-width:320px) and (max-width: 612px) {
    .cursor {
        display: none !important;
    }

    .content {
        margin-top: -5em;
    }

    .iconz {
        width: 30% !important;
    }

    .words {
        width: 100% !important;
    }
    .socials{
        width: 50% !important;
    }
}