* {
    /* border: 1px solid gold; */
    font-family: 'Montserrat', sans-serif;
}

.mouseIcon:hover {
    font-weight: bold;
}

@media (min-width:320px) and (max-width: 612px) {
    .iconzz {
        width: 90% !important;
    }

    .iconz {
        width: 30% !important;
    }
}