* {
    /* border: 1px solid gold; */
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Caudex', serif;
}
/* 
.fw-bold {
    font-weight: 900 !important;
} */

p,
li {
    font-family: 'Libre Franklin', sans-serif !important;
}

.mouseIcon:hover {
    font-weight: bold;
}

@media (min-width:320px) and (max-width: 612px) {
    .iconzz {
        width: 90% !important;
    }

    .iconz {
        width: 30% !important;
    }
}